In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('data/train.csv')

In [3]:
df_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
label = df_train.label.values.copy()

In [198]:
pixels = df_train.drop('label', axis=1).values.copy() / 255.

In [199]:
pixels = pixels.reshape(len(pixels), 1, 28, 28)

In [200]:
from sklearn.model_selection import train_test_split

In [275]:
X_train, X_test, y_train, y_test = train_test_split(pixels, label, test_size=0.15, random_state=101)

In [276]:
len(X_train), len(X_test)

(35700, 6300)

In [277]:
from keras.layers import Softmax, ReLU, Dense, Conv2D, Dense, BatchNormalization, Flatten, Dropout, MaxPool2D
from keras.models import Sequential
from keras.utils import to_categorical
from keras.optimizers import Adam
from keras import backend as K
K.set_image_dim_ordering('th')

In [294]:
model = Sequential()

model.add(Conv2D(filters=32, kernel_size=(5,5), input_shape=(1, 28, 28)))
# model.add(BatchNormalization())
model.add(ReLU())
model.add(Dropout(0.25))

model.add(MaxPool2D())

model.add(Conv2D(filters=64, kernel_size=(3,3)))
# model.add(BatchNormalization())
model.add(ReLU())

model.add(MaxPool2D())
model.add(Dropout(0.25))

model.add(Flatten())

model.add(Dense(128))
# model.add(BatchNormalization())
model.add(ReLU())
model.add(Dropout(0.25))

# model.add(Dense(64))
# # model.add(BatchNormalization())
# model.add(ReLU())

model.add(Dense(10))
model.add(Softmax())

In [279]:
	model = Sequential()
	model.add(Conv2D(30, (5, 5), input_shape=(1, 28, 28), activation='relu'))
	model.add(MaxPool2D(pool_size=(2, 2)))
	model.add(Conv2D(15, (3, 3), activation='relu'))
	model.add(MaxPool2D(pool_size=(2, 2)))
	model.add(Dropout(0.2))
	model.add(Flatten())
	model.add(Dense(128, activation='relu'))
	model.add(Dense(50, activation='relu'))
	model.add(Dense(10, activation='softmax'))

In [295]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_63 (Conv2D)           (None, 32, 24, 24)        832
_________________________________________________________________
re_lu_87 (ReLU)              (None, 32, 24, 24)        0
_________________________________________________________________
dropout_56 (Dropout)         (None, 32, 24, 24)        0
_________________________________________________________________
max_pooling2d_37 (MaxPooling (None, 32, 12, 12)        0
_________________________________________________________________
conv2d_64 (Conv2D)           (None, 64, 10, 10)        18496
_________________________________________________________________
re_lu_88 (ReLU)              (None, 64, 10, 10)        0
_________________________________________________________________
max_pooling2d_38 (MaxPooling (None, 64, 5, 5)          0
_________________________________________________________________
dropout_57 (Dropout)         (None, 64, 5, 5)          0
_________________________________________________________________
flatten_28 (Flatten)         (None, 1600)              0
_________________________________________________________________
dense_74 (Dense)             (None, 128)               204928
_________________________________________________________________
re_lu_89 (ReLU)              (None, 128)               0
_________________________________________________________________
dropout_58 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_75 (Dense)             (None, 10)                1290
_________________________________________________________________
softmax_23 (Softmax)         (None, 10)                0
=================================================================
Total params: 225,546
Trainable params: 225,546
Non-trainable params: 0
_________________________________________________________________

In [306]:
model.compile(optimizer=Adam(0.00001), loss='categorical_crossentropy', metrics=['accuracy'])

In [297]:
Y_train = to_categorical(y_train, num_classes=10)
Y_test = to_categorical(y_test, num_classes=10)

In [298]:
from keras.preprocessing.image import ImageDataGenerator

In [299]:
train_gen = ImageDataGenerator(rotation_range=5, zoom_range=0.1, shear_range=0.1, featurewise_center=True,
    featurewise_std_normalization=True)
test_gen = ImageDataGenerator(rotation_range=10, zoom_range=0.2, shear_range=0.2, featurewise_center=True,
    featurewise_std_normalization=True)

In [300]:
train_gen.fit(X_train)

In [301]:
test_gen.fit(X_test)

In [ ]:
model.fit(X_train, Y_train, batch_size=200,
            validation_data = (X_test, Y_test),
            epochs=10)
# , steps_per_epoch=len(X_train)//200, validation_steps=len(X_test)//200)

Train on 35700 samples, validate on 6300 samples
Epoch 1/10
35700/35700 [==============================] - 6s 177us/step - loss: 0.0053 - acc: 0.9981 - val_loss: 0.0207 - val_acc: 0.9932
Epoch 2/10
35700/35700 [==============================] - 4s 121us/step - loss: 0.0055 - acc: 0.9985 - val_loss: 0.0207 - val_acc: 0.9930
Epoch 3/10
35700/35700 [==============================] - 4s 121us/step - loss: 0.0054 - acc: 0.9985 - val_loss: 0.0206 - val_acc: 0.9933
Epoch 4/10
35700/35700 [==============================] - 4s 120us/step - loss: 0.0052 - acc: 0.9985 - val_loss: 0.0206 - val_acc: 0.9933
Epoch 5/10
16600/35700 [============>.................] - ETA: 2s - loss: 0.0055 - acc: 0.9983

In [273]:
test_df = pd.read_csv('data/test.csv')

In [257]:
test_df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [258]:
test_values = test_df.values.copy()

In [259]:
test_values = test_values.reshape(len(test_values), 1, 28, 28)

In [260]:
from tqdm import tqdm

In [261]:
preds = []
for i in tqdm(range(0, len(test_values), 10)):
    pr = model.predict(test_values[i:i+10])
#     print(pr)
    preds.extend(list(np.argmax(pr, axis=1)))

100%|██████████| 2800/2800 [00:15<00:00, 185.83it/s]

In [262]:
df_preds = pd.DataFrame(list(zip([i+1 for i in range(len(preds))], preds)), columns=['ImageId', 'Label'])

In [263]:
df_preds.to_csv('predictions.csv', index=False)